

[Unit]
Description=communicator
After=network.target

[Service]
ExecStart=/var/www/communicator/deploy/run.sh
Restart=always
User=communicator
Group=users
Environment=PATH=/usr/local/bin:/usr/bin:/bin:/home/communicator/n/bin
Environment=NODE_ENV=production
Environment=N_PREFIX=/home/communicator/n
WorkingDirectory=/var/www/communicator/deploy

[Install]
WantedBy=multi-user.target
