.g__font-base {
  font-family: Vollkorn, sans-serif;
  letter-spacing: normal;
}

@mixin g__font-small {
  @extend .g__font-base;

  font-size: 0.6rem;
}

@mixin g__font-medium {
  @extend .g__font-base;

  font-size: 60px;
  font-weight: 900;
}

@mixin g__font-large {
  @extend .g__font-base;

  font-size: 120px;
  font-weight: 900;
  font-style: normal;
}
